<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
  <!--jsonbin secret key-->
    <add key="JsonBinSecretKey" value="$2a$10$GeVl3omNJ7oIEkJhSsFo.u6Ez85Xnj4gX7J52DRS/4qEdF6jNT2a2"/>
    <!--jsonbin file path (hash key)-->
    <add key="JsonBinPath" value="5cb5f0ba52b3a80949e4c6e2"/>
    <!--If cannot find specific name,log in file (true/false)-->
    <add key="IsEnableLog" value="false"/>
    <!--alert timer interval (second)-->
    <add key="AlertScanInterval" value="300"/>
    <!--Is enable read config data from json bin-->
    <add key="IsEnableJsonBin" value="false"/>
    
  </appSettings>
</configuration>